/* border color: #bdc3c7;
date color: #3498db;
h2 color: #2c3e50;
font: source sans pro; */

body {
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  width: 60%;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-weight: 700;
  color: #2c3e50;
  font-size: 2.0rem;
}

hr {
  color: #2c3e50;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

p:nth-of-type(2) {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.date {
  text-transform: uppercase;
  color: #3498db;
  letter-spacing: 0.2rem;
}

.post{
  margin-bottom: 20px;
}
