/* border color: #bdc3c7;
date color: #3498db;
h2 color: #2c3e50;
font: source sans pro; */

body {
  border: 20px solid #bdc3c7;
  margin: 15px auto;
  width: 60%;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-weight: 900;
  color: #2c3e50;
  font-size: 2em;
}

p:nth-of-type(2) {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.date {
  text-transform: uppercase;
  color: #3498db;
  letter-spacing: 0.3em;
}
